<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <h1 class="title">Cadastro na Lista</h1>
    <div id="form"class="form"">
      <div class="box-input1">
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome" />
      </div>

      <div class="box-input2">
        <label for="quantidade">Qnt.</label>
        <input
          type="number"
          name="quantidade"
          id="quantidade"
          value="1"
          min="1"
        />
      </div>
    </div>
    <div class="buttons">
      <button class="bt" id="submit-button">Adicionar Item</button>
      <button
        class="bt"
        id="cancel-button"
        onclick="window.location = 'index.html'"
      >
        Cancelar
      </button>
    </div>

    <div class="msg-sucess closed" id="msg-sucess">
        <i class="fa-regular fa-x fa-xs icon-X" style="color: #FFF;" id="close-button"></i>
        <div class="text" id="text">Item X adicionado com sucesso!</div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
