<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="http://localhost:3000/lista" method="post">
        <h1>Cadastro na Lista</h1>
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">
        <label for="quantidade">quantidade</label>
        <input type="number" name="quantidade" id="quantidade">
        <input type="submit">
    </form>
</body>

</html>