<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <form id="form">
        <h1>Cadastro na Lista</h1>
        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">
        <label for="quantidade">quantidade</label>
        <input type="number" name="quantidade" id="quantidade">
        <button id="submit-button">Adicionar Item</button>
    </form>

    <ul id="item-list">
    </ul>
    
    <button id="bt-verlista">Ver Lista</button>
    <script src="script.js"></script>
</body>

</html>
